[Unit]
Description=Berkeley Lab RadMon Sensor Daemon 

[Service]
Type=simple
Restart=always
User=pi
Group=pi
RestartSec=10
Environment=PATH=/usr/local/bin:/usr/bin:/bin
WorkingDirectory=/home/pi/radmon/sensor
ExecStart=/usr/bin/python3 -u /home/pi/radmon/sensor/capture.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=radsensor.service

[Install]
WantedBy=multi-user.target

